.jiNjgB .name_cupom {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
}
.jiNjgB .name_cupom > h3 {
  font-size: 15px;
  color: rgb(0, 221, 220);
}
.jiNjgB .name_cupom > h5 {
  color: rgb(255, 255, 255);
}
.jiNjgB .name_cupom > h5 > span {
  margin-right: 5px;
  margin-left: 3px; }